@font-face {
  font-family: nas;
  src: url(../font-wright/IranNastaliq.ttf);
}

@font-face {
  font-family: dip;
  src: url(../font-wright/Far_Diplomat.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  position: relative;
  z-index: 200;
}

.navbar .hamberger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 900;
  transition: transform .5s;
}

@media (max-width: 1000px) {
  .navbar .hamberger-menu {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 800px) {
  .navbar .hamberger-menu {
    width: 20px;
    height: 20px;
  }
}

.navbar .hamberger-menu .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.navbar .hamberger-menu .menu .line {
  width: 100%;
  height: 4px;
  background-color: goldenrod;
  transform-origin: right;
}

@media (max-width: 1000px) {
  .navbar .hamberger-menu .menu .line {
    height: 3px;
  }
}

@media (max-width: 800px) {
  .navbar .hamberger-menu .menu .line {
    height: 2px;
  }
}

.navbar .nav {
  display: flex;
  position: relative;
}

.navbar .nav-left {
  position: fixed;
  left: -50vw;
  width: 50vw;
  height: 100vh;
  background-color: #3d3d3d;
  transition: all .5s;
}

.navbar .nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: -50vw;
  width: 50vw;
  height: 100vh;
  background-color: #2f2f2f;
  font-size: 30px;
  font-family: dip;
  text-align: center;
  transition: all .5s;
}

.navbar .nav-right ul a {
  text-decoration: none;
  color: white;
  transition: all .5s;
}

.navbar .nav-right ul a:hover {
  color: goldenrod;
}

.navbar .nav-right ul a li {
  list-style-type: none;
  padding: 20px;
}

.navbar img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: .7;
  border-radius: 10px;
}

.navbar .img-1 {
  top: 15%;
  left: 15%;
}

.navbar .img-2 {
  top: 35%;
  left: 25%;
}

.navbar .img-3 {
  top: 55%;
  left: 35%;
}

.checkbox:checked ~ .navbar .hamberger-menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .navbar .hamberger-menu .menu .line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .navbar .hamberger-menu .menu .line-2 {
  opacity: 0;
}

.checkbox:checked ~ .navbar .hamberger-menu .menu .line-3 {
  transform: rotateZ(40deg);
}

.checkbox:checked ~ .navbar .nav .nav-left {
  left: 0;
}

.checkbox:checked ~ .navbar .nav .nav-right {
  right: 0;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../image/bg.jpeg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media (max-width: 800px) {
  .header {
    height: 80vh;
  }
}

@media (max-width: 500px) {
  .header {
    height: 60vh;
  }
}

.header .logo-matn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo-matn .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border: 3px solid goldenrod;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .header .logo-matn .logo {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 800px) {
  .header .logo-matn .logo {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 500px) {
  .header .logo-matn .logo {
    width: 50px;
    height: 50px;
  }
}

.header .logo-matn i {
  font-size: 80px;
  color: goldenrod;
}

@media (max-width: 1000px) {
  .header .logo-matn i {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  .header .logo-matn i {
    font-size: 45px;
  }
}

@media (max-width: 500px) {
  .header .logo-matn i {
    font-size: 35px;
  }
}

.header h1 {
  color: #a1a1a1;
  font-size: 50px;
  font-family: "dip";
  letter-spacing: 3px;
}

@media (max-width: 1000px) {
  .header h1 {
    font-size: 45px;
  }
}

@media (max-width: 800px) {
  .header h1 {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 25px;
  }
}

.header .header-footer {
  text-align: center;
}

.header .header-footer h1 {
  color: goldenrod;
  font-size: 100px;
  font-family: "nas";
}

@media (max-width: 1000px) {
  .header .header-footer h1 {
    font-size: 70px;
  }
}

@media (max-width: 800px) {
  .header .header-footer h1 {
    font-size: 55px;
  }
}

@media (max-width: 500px) {
  .header .header-footer h1 {
    font-size: 40px;
  }
}

.header .header-footer h2 {
  font-size: 25px;
  font-family: dip;
  color: #a1a1a1;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .header .header-footer h2 {
    font-size: 15px;
  }
}

.header .header-footer button {
  color: #ff9102;
  border: 3px solid #ffee00;
  border-radius: 2px;
  background-color: #ffdd80;
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .header .header-footer button {
    padding: 7px;
    font-size: 16px;
  }
}

.header .header-footer button:hover {
  cursor: pointer;
  background-color: #b88d00;
  color: white;
  transition: all .8s;
}

.body-head {
  position: relative;
  background-color: #3d3d3d;
  height: 120vh;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .body-head {
    height: 90vh;
  }
}

.body-head-image {
  width: 40%;
}

@media (max-width: 800px) {
  .body-head-image {
    display: none;
  }
}

.body-head-image img {
  width: 100%;
}

.body-head-image .image-1 {
  padding: 0;
  margin: 0;
  padding-top: 120px;
}

.body-head-image .image-2 {
  padding: 0;
  margin: 0;
}

.body-head-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: rtl;
  width: 60%;
}

@media (max-width: 800px) {
  .body-head-right {
    text-align: center;
    width: 100%;
  }
}

.body-head-right .stars {
  color: goldenrod;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  .body-head-right .stars {
    font-size: 10px;
  }
}

.body-head-right .stars-2 {
  padding-bottom: 100px;
}

.body-head-right h1 {
  font-family: nas;
  font-size: 50px;
  color: goldenrod;
  margin-top: 20%;
}

@media (max-width: 1085px) {
  .body-head-right h1 {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .body-head-right h1 {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .body-head-right h1 {
    margin-top: 10%;
  }
}

@media (max-width: 400px) {
  .body-head-right h1 {
    font-size: 15px;
  }
}

.body-head-right h2 {
  color: #a1a1a1;
  font-family: dip;
  font-size: 50px;
  margin-bottom: 30px;
}

@media (max-width: 1085px) {
  .body-head-right h2 {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .body-head-right h2 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .body-head-right h2 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .body-head-right h2 {
    font-size: 15px;
  }
}

.body-head-right p {
  font-family: nas;
  font-size: 15px;
  color: #a1a1a1;
}

@media (max-width: 1000px) {
  .body-head-right p {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .body-head-right p {
    font-size: 10px;
  }
}

.gallory {
  display: flex;
  flex-wrap: wrap;
}

.gallory .card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallory .card:hover .etela {
  left: 0;
  cursor: pointer;
}

.gallory img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

.gallory .etela {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  color: white;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(218, 165, 32, 0.6);
  transition: left .5s;
}

.gallory .etela h1 {
  font-family: nas;
  font-size: 40px;
}

@media (max-width: 800px) {
  .gallory .etela h1 {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .gallory .etela h1 {
    display: none;
  }
}

.gallory .etela h3 {
  font-family: dip;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .gallory .etela h3 {
    font-size: 15;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .gallory .etela h3 {
    display: none;
  }
}

.gallory .etela button {
  width: 150px;
  height: 40px;
  background-color: white;
  border: 2px solid goldenrod;
  border-radius: 30px;
  font-size: 18px;
  font-family: dip;
}

.gallory .etela button:hover {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  .gallory .etela button {
    width: 120px;
    height: 35px;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .gallory .etela button {
    width: 100px;
    height: 20px;
    font-size: 10px;
  }
}

.footer {
  direction: rtl;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #3d3d3d;
}

@media (max-width: 500px) {
  .footer {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .footer {
    height: 150px;
  }
}

.footer a {
  text-decoration: none;
  color: #a1a1a1;
}

.footer i {
  padding: 30px;
  font-size: 30px;
}

@media (max-width: 500px) {
  .footer i {
    font-size: 20px;
  }
}

.footer h1 {
  color: #a1a1a1;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (max-width: 500px) {
  .footer h1 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */